PORT=3000
MONGO_URI=mongodb://localhost:27017/your_database_name
JWT_SECRET=
CLIENT_ID=your-client-id
CLIENT_SECRET=your-client-secret
REFRESH_TOKEN=your-refresh-token
EMAIL_USER=your-email@example.com